.section-title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.section-title {
    margin-bottom: 16px;

    font-family: $montserrat;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;

    color: #000000;
}

.section-subtitle {
    font-family: $montserrat;
    font-size: 16px;
    line-height: 1.25;
    
    color: $clr-secondary-text;
}