//COLORS
$clr-blackish-green: #112211;
$clr-mint-green: #8DD3BB;
$clr-slamon: #FF8682;
$clr-neutrals: #FFFFFF;

$clr-secondary-text: #112211;

$clr-secondary-footer-bg: #CDEAE1;
$clr-background: #FAFBFC;

//FONTS
$montserrat: 'Montserrat', sans-serif;
$gothic: 'Nanum Gothic', sans-serif;