//COLORS
$clr-blackish-green: #112211;
$clr-mint-green: #8DD3BB;
$clr-slamon: #FF8682;
$clr-neutrals: #FFFFFF;

$clr-secondary-text: #112211;

// -- BUTTONS EFFECT
$clr-btn-hover: #64be9f;
$clr-btn-active: #37b689;

// -- INPUT
$clr-input-focus: #5bc4a1;
$clr-input-correct: #34ff90;


// -- BACGROUND
$clr-secondary-footer-bg: #CDEAE1;
$clr-background: #FAFBFC;

//FONTS
$montserrat: 'Montserrat', sans-serif;
$gothic: 'Nanum Gothic', sans-serif;