.revievs-list {
    display: flex;
    gap: 50px;

    overflow: hidden;
}

.revievs-list__item {
    width: 425px;
    height: 586px;
}

.revievs-list__reviev {

}

.revievs-list__title {

}

.revievs-list__text {

}

.revievs-list__rate {
    display: flex;
    gap: 12px;
}

.rate__item {

}

.rate__icon-wrap {

}

.revievs-list__author {

}

.author__name {

}

.author__place {

}

.google-link {
    display: flex;
    align-items: center;
    gap: 8px;
}